.l-banner .carousel-caption h2 {
    padding: 20px;
}

.l-banner .carousel-caption h2 span {
    display: block;
    font-size: 0.5em;
    line-height: 1.5em;
    border-top: 1px solid #bbbbbb;
    padding: 10px;
    margin: 10px;
}

.carousel-inner > .item > a > img, .carousel-inner > .item > img {
    height: 100%;
    line-height: 1;
    width: 100%;
}

.applepie {
    background-color: #0094de;
    color: #fff;
    border-color: #00a5f8;
    border-width: 2px;
    padding: 0px;
}

.imagepie {
    background-color: #0094de;
    color: #fff;
    border-color: #00a5f8;
    border-width: 2px;
    padding: 0px;
    margin-bottom: 10px;
}

.applepie p, h3 {
    color: #fff;
}

.applepie .caption {
    height: 100px;
}

.imagepie .caption {
    height: 40px;
}

.imagepie:hover {
    background-color: #00a5f8;
}

.applepie:hover {
    background-color: #00a5f8;
}

.imagepie .btn-xs {
    color: #fff;
    background: #99181B;
    border-radius: 50px;
    width: 60%;
    margin-left: 20%;
}

.imagepie .btn-preview {
    margin-top: -295px;
    margin-left: 67px;

}

.imagepie .btn-xs:hover {
    background: #6d1113;
}

.applepie .btn-primary {
    background: #99181B;
    margin-top: -530px;
    margin-left: 95px;
    border-radius: 50px;
}

.applepie .btn-primary:hover {
    background: #6d1113;
}

.imagepie .image_img {
    height: 120px;
    width: 100%;
    object-fit: cover;
}

.applepie .thumb_img {
    height: 190px;
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    object-fit: cover;
}

.c-heading h2 span {
    display: block;
    font-size: 0.7em;
    line-height: 2em;
    color: #423f3f;
    font-weight: normal;
    border-top: 1px solid #aaa;
}

.contact-form {
    text-align: left;
}

.article main {
    text-align: left;
    border-right: 1px solid #999;
}

.article aside {
    text-align: left;
    padding: 10px 10px 40px 10px;
    border-left: 1px solid #999;
}

.article aside .block {
    border-bottom: 1px solid #aaaaaa;
}

.news-list {
    border: 1px solid #aaa;
    padding: 20px 0px;
    margin: 10px 0;
    background: #fff;
    border-radius: 5px;
}

.news-list header, .news header {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

.news-list h3 {
    color: #777;
    font-weight: bold;
}

.news-list time {
    color: #777;
}

.news-list img, .news img {
    object-fit: cover;
    width: 100%;
    height: 200px;
}

.news img {
    height: auto;
}

.title_date {
    display: inline;
}

.mobile_social_login .login_button {
    display: none;
}

.mobile_contact_language .mobile_language {
    display: none;
}

.c-top .c-lang__language .login-btn {
    display: none;
}

.c-nav .nav li .dropdown-menu a:after,
.c-nav .nav li .dropdown-menu a:before {
    display: none;
}

.pagination-links {
    margin: 30px 0;
}

.pagination-links strong {
    padding: 8px 13px;
    margin: 5px;
    background: #ffffff;
    border: 1px #ccc solid;
}

a.pagination-links {
    padding: 8px 13px;
    margin: 5px;
    background: #ffffff;
    border: 1px #ccc solid;
}

.pagination-links a {
    display: inline;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe, .video-container object, .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

/* Program Page Carousel Design */

/* Latest Event in Home Page*/
.event_header {
    text-align: center;
}


/* Event page */

.event-list {
    border: 1px solid #aaa;
    padding: 20px 0px;
    margin: 10px 0;
    background: #fff;
    border-radius: 5px;
    padding-bottom: 0px;
    height: 18em;
}

.event-list header, .event header {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;

}

.event-list h2 {
    margin: 10px;
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
}

.event-list time {
    color: #777;
}

.event-list img, .news img {
    object-fit: cover;
    width: 100%;
}

.event img {
    height: 150px;
}

/*Meditation list page*/
.meditation-list {
    border: 1px solid #aaa;
    padding: 20px 0px;
    margin: 10px 0;
    background: #fff;
    border-radius: 5px;
    padding-bottom: 0px;
    height: 20em;
}

.meditation-list header, .meditation header {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

.meditation-list h2 {
    margin: 10px;
    color: black;
    text-align: center;
    font-weight: bold;
}

.meditation-list time {
    color: #777;
}

.meditation-list img, .news img {
    object-fit: cover;
    width: 100%;
    height: 12rem;
}

.meditation img {
    height: auto;
}

/*FAQ List*/
/*.faq-list {*/
/*border: 1px solid #aaa;*/
/*padding: 20px 0px;*/
/*margin: 10px 0;*/
/*background: #fff;*/
/*border-radius: 5px;*/
/*padding-bottom: 0px;*/
/*height: 200px;*/
/*z-index: 2;*/
/*}*/

/*.faq-list header {*/
/*border-bottom: 1px solid #ccc;*/
/*margin-bottom: 20px;*/
/*text-align: left;*/
/*margin-left: 5px;*/
/*}*/

/*.faq-list .answer p {*/
/*margin-left:25px;*/
/*}*/

.panel-group .panel {
    border-radius: 0;
    box-shadow: none;
    border-color: #EEEEEE;
}

.panel-default > .panel-heading {
    padding: 0;
    border-radius: 0;
    color: #212121;
    background-color: #FAFAFA;
    border-color: #EEEEEE;
}

.panel-title {
    font-size: 14px;
}

.panel-title > a {
    display: block;
    padding: 15px;
    text-decoration: none;
}

.more-less {
    float: right;
    color: #212121;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #EEEEEE;
    size: 400px;
}

.marquee {
    width: 300px; /* the plugin works for responsive layouts so width is not necessary */
    overflow: hidden;
}
