@media (min-width: 1400px) {

}

@media (min-width: 992px) {

}

@media (min-width: 768px) {

}

@media screen and (min-width: 768px) {

}

@media (min-width: 992px) and (max-width: 1199px) {

}

@media (min-width: 760px) and (max-width: 900px) {

    .event-list {
        height: 340px;
    }

}

@media (max-width: 760px) {

    /* HEADER (CONTACT, LANGUAGE, SOCIAL, LOGIN) STARTS */
    .c-top__wrapper .mobile_contact_language {
        margin-top: 0px;
    }

    .mobile_contact_language .c-lang__language {
        display: none;
    }

    .mobile_contact_language .mobile_language {
        padding-right: 4px;
    }

    .mobile_contact_language .mobile_language {
        display: block;
    }

    .mobile_contact_language .mobile_language a {
        display: inline;
    }

    .c-top .c-lang__language {
        display: none;
    }

    .mobile_social_login .login_button {
        margin-left: 35px;
        margin-top: 5px;
    }

    .mobile_social_login {
        margin: 0px;
        padding: 0px;
    }

    .mobile_social_login .login_button {
        /*display: inline;*/

    }

    /* HEADER (CONTACT, LANGUAGE, SOCIAL, LOGIN) ENDS */
    /* NAV BAR STARTS */
    .c-nav nav .navbar-header span {
        background-color: black;
    }

    .c-nav .c-nav__logo {
        float: left;
    }

    .c-nav nav .navbar-collapse {

    }

    .c-nav nav li {
        display: inline-block;
        position: static;
        width: 100%;
    }

    /* NAV BAR ENDS */
    /* SLIDER STARTS */
    .l-banner .carousel-caption h2 {
        top: 15%;
        width: 100%;
        font-size: medium;
    }

    .l-banner .carousel-inner {
        max-height: 200px;
        /*height: 200px;*/
        overflow: hidden;
        margin-bottom: 5px;
    }

    /* SLIDER ENDS */
    /* UPDATE STARTS */
    .l-main .c-update .module__content {
        top: 0;
        width: 55%;
        padding: 0px 5px;
        right: 15px;
    }

    .l-main .c-update .module__content h4 {
        font-weight: 700;
        font-size: medium;
    }

    .l-main .c-update .module__content p {
        margin: 5px 0 0px;
    }

    .l-main .c-update .module__content a {
        background: #ffffff;
        border-radius: 0;
    }

    .l-main .c-update .c-update__schedule {
        margin-top: 10px;
    }

    .l-main .c-update .c-update__schedule .schedule__box--date {
        min-height: 40px;
    }

    .l-main .c-update .schedule__box--date span {
        top: 8px;
    }

    #latest-update #update-schedule {
        margin-top: 15px;
    }

    #latest-update #update-schedule .schedule__box--date {
        min-height: 50px;
    }

    #latest-update .schedule__box--date span {
        top: 12px;
    }

    /* UPDATE ENDS */
    /* Latest Event In Home Page*/



    .l-main .c-update .module__content {

        width: 92%;
       height:100%;
    }

    .event_header {
        height:300px;
    }

    /*.module__content {*/
        /*height:300px;*/
    /*}*/
    .module__img .img-responsive {
        height:300px;
    }
    /* Event Starts */
    .event-list {
        height: 480px;
    }

    .event-list header {
        border-bottom: 1px solid #ccc;
        margin-bottom: 20px;
        padding-bottom: 4px;
    }

    .event-list h2 {
        font-size: 20px;
    }

    .event-list img, .news img {

        height: 170px;
    }

    /* Event Ends */
    /* Meditation Starts */
    .meditation-list {
        height: 412px;
    }

    .meditation-list header {
        border-bottom: 1px solid #ccc;
        margin-bottom: 20px;
        padding-bottom: 4px;
    }

    .meditation-list h2 {
        font-size: 21px;
        margin: 8px;
    }

    .meditation-list img {

        height: 150px;
    }

    /* Meditaiton Ends */
}

@media (max-width: 480px) {

}

@media (max-width: 320px) {

}
