/*!
 * Start Bootstrap - 2 Col Portfolio (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */


.portfolio-item {
    margin-bottom: 10px;
    color:#fff;
    
}
.portfolio-item img{
	border:2px solid #0094de;
}
.portfolio-item img:hover{
	border:2px solid #99181B;
}
.portfolio-item h3 a{
	margin-top:-90px;
	margin-left:1%;
	font-size: 30px;
	color:#99181B;
	font-family:"Times New Roman", Times, serif;
	font-weight:900;
}
.portfolio-item p{
	font-size:15px;
	margin-left:1%;
	color:#99181B;
	font-weight:900;
}
.portfolio-item .btn{
	margin-top:-570px;
	margin-left:85%;
}

.btn-circle.btn-xl {
  background:#99181B;
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}
.btn-circle.btn-xl:hover {
  background:#6d1113;
  
}
.thumb .thumbnail{
	margin-right:5px;
	height:300px;
	border:2px solid #0094de;
	padding:0px;
	padding-bottom: 0px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}.thumb .thumbnail:hover{
	border:2px solid #99181B;
}
.thumb .thumbnail img{
	height:296px;
}

.thumb .thumbnail .btn{
	background:#99181B;
	border:1px solid #99181B;
	margin-top:-550px;
	margin-left:5px;
}

.thumb .thumbnail .btn:hover{
	background:#6d1113;
	
}
.thumb .thumbnail .eyenewShowcase{
	margin-top:-590px;
	margin-left:75%;

	
}
.thumb{
	padding:2px;
	margin-bottom:-10px;
}
