.site_title {
    line-height: 0;
    height: 100%;
    padding-left: 0px;
}
.logo {
    background: #fff none repeat scroll 0 0;
    height: 100%;
    width: 100%;
    margin: 1px;
}

.img-circle.profile_img {
    padding: 0px;
    border-radius: 0px;
}

.form-error {
    color: #ea6557;
    font-weight: bold;
    font-size: 0.9em;
}

.text-red {
    color: #ea6557;
}

.slider-thumbnail {
    height: 50px !important;
}

.accesscontrol .checkbox {
    display: inline-block !important;
    top: 10px !important;
}


.unread-message {
    font-weight: bold;
    font-size: 15px;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    color: #333;
    font-weight: bold;
}


/* G A L L E R Y
=====================================================*/
.album .thumbnail {
    position:relative;
    overflow:hidden;
    height: auto !important;
    min-height: 130px !important;
    background: url("../img/thumbnail.png");
    background-size: 100% 100%;
}

.album img {
    height: auto;
    min-height:130px;
}

.album .caption {
    position:absolute;
    top:-100%;
    right:0;
    background:rgba(66, 139, 202, 0.75);
    width:100%;
    height:100%;
    padding:2%;
    text-align:center;
    color:#fff !important;
    z-index:2;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.album .thumbnail:hover .caption {
    top:0%;
}

.dropzone {


    background: rgb(243, 244, 245);
    height: 100%;
    color: rgb(100, 108, 127);
    line-height: 1.4rem;
    font-family: Roboto, "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;

    border-radius: 5px;
    border: 2px dashed rgb(0, 135, 247);
    border-image: none;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* B O O T B O X
=====================================================*/
.bootbox .buttons,
.bootbox button,
.bootbox .btn {
    margin-bottom: 0px;
}
.bootbox-modal-xxs .modal-dialog {
    width: 20% !important;
}
.bootbox-modal-xs .modal-dialog {
    width: 30% !important;
}
.bootbox-modal-sm .modal-dialog {
    width: 50% !important;
}
.bootbox-modal-md .modal-dialog {
    width: 75% !important;
}
.bootbox-modal-lg .modal-dialog {
    width: 90% !important;
}

.modal-dialog .has-feedback .form-control {
    padding-right: 10px;
}

/* T O O L T I P S
=====================================================*/
.tooltip-success+.tooltip>.tooltip-inner,
.tooltip.tooltip-success>.tooltip-inner {
    background-color: #169F85;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1)
}
.tooltip-success+.tooltip.top .tooltip-arrow,
.tooltip.tooltip-success.top .tooltip-arrow {
    border-top-color: #169F85;
    -moz-border-top-colors: #169F85
}
.tooltip-success+.tooltip.right .tooltip-arrow,
.tooltip.tooltip-success.right .tooltip-arrow {
    border-right-color: #169F85;
    -moz-border-right-colors: #169F85
}
.tooltip-success+.tooltip.left .tooltip-arrow,
.tooltip.tooltip-success.left .tooltip-arrow {
    border-left-color: #169F85;
    -moz-border-left-colors: #169F85
}
.tooltip-success+.tooltip.bottom .tooltip-arrow,
.tooltip.tooltip-success.bottom .tooltip-arrow {
    border-bottom-color: #169F85;
    -moz-border-bottom-colors: #169F85
}

.tooltip-info+.tooltip>.tooltip-inner,
.tooltip.tooltip-info>.tooltip-inner {
    background-color: #3498db;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1)
}
.tooltip-info+.tooltip.top .tooltip-arrow,
.tooltip.tooltip-info.top .tooltip-arrow {
    border-top-color: #3498db;
    -moz-border-top-colors: #3498db
}
.tooltip-info+.tooltip.right .tooltip-arrow,
.tooltip.tooltip-info.right .tooltip-arrow {
    border-right-color: #3498db;
    -moz-border-right-colors: #3498db
}
.tooltip-info+.tooltip.left .tooltip-arrow,
.tooltip.tooltip-info.left .tooltip-arrow {
    border-left-color: #3498db;
    -moz-border-left-colors: #3498db
}
.tooltip-info+.tooltip.bottom .tooltip-arrow,
.tooltip.tooltip-info.bottom .tooltip-arrow {
    border-bottom-color: #3498db;
    -moz-border-bottom-colors: #3498db
}

.tooltip-danger+.tooltip>.tooltip-inner,
.tooltip.tooltip-danger>.tooltip-inner {
    background-color: #e74c3c;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1)
}
.tooltip-danger+.tooltip.top .tooltip-arrow,
.tooltip.tooltip-danger.top .tooltip-arrow {
    border-top-color: #e74c3c;
    -moz-border-top-colors: #e74c3c
}
.tooltip-danger+.tooltip.right .tooltip-arrow,
.tooltip.tooltip-danger.right .tooltip-arrow {
    border-right-color: #e74c3c;
    -moz-border-right-colors: #e74c3c
}
.tooltip-danger+.tooltip.left .tooltip-arrow,
.tooltip.tooltip-danger.left .tooltip-arrow {
    border-left-color: #e74c3c;
    -moz-border-left-colors: #e74c3c
}
.tooltip-danger+.tooltip.bottom .tooltip-arrow,
.tooltip.tooltip-danger.bottom .tooltip-arrow {
    border-bottom-color: #e74c3c;
    -moz-border-bottom-colors: #e74c3c
}

.tooltip-warning+.tooltip>.tooltip-inner,
.tooltip.tooltip-warning>.tooltip-inner {
    background-color: #F0AD4E;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1)
}
.tooltip-warning+.tooltip.top .tooltip-arrow,
.tooltip.tooltip-warning.top .tooltip-arrow {
    border-top-color: #F0AD4E;
    -moz-border-top-colors: #F0AD4E
}
.tooltip-warning+.tooltip.right .tooltip-arrow,
.tooltip.tooltip-warning.right .tooltip-arrow {
    border-right-color: #F0AD4E;
    -moz-border-right-colors: #F0AD4E
}
.tooltip-warning+.tooltip.left .tooltip-arrow,
.tooltip.tooltip-warning.left .tooltip-arrow {
    border-left-color: #F0AD4E;
    -moz-border-left-colors: #F0AD4E
}
.tooltip-warning+.tooltip.bottom .tooltip-arrow,
.tooltip.tooltip-warning.bottom .tooltip-arrow {
    border-bottom-color: #F0AD4E;
    -moz-border-bottom-colors: #F0AD4E
}

.tooltip-primary+.tooltip>.tooltip-inner,
.tooltip.tooltip-primary>.tooltip-inner {
    background-color: #286090;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1)
}
.tooltip-primary+.tooltip.top .tooltip-arrow,
.tooltip.tooltip-primary.top .tooltip-arrow {
    border-top-color: #286090;
    -moz-border-top-colors: #286090
}
.tooltip-primary+.tooltip.right .tooltip-arrow,
.tooltip.tooltip-primary.right .tooltip-arrow {
    border-right-color: #286090;
    -moz-border-right-colors: #286090
}
.tooltip-primary+.tooltip.left .tooltip-arrow,
.tooltip.tooltip-primary.left .tooltip-arrow {
    border-left-color: #286090;
    -moz-border-left-colors: #286090
}
.tooltip-primary+.tooltip.bottom .tooltip-arrow,
.tooltip.tooltip-primary.bottom .tooltip-arrow {
    border-bottom-color: #286090;
    -moz-border-bottom-colors: #286090
}

.ajax-loader-setting {
    color: #0c4000 !important;
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
    color: #000;
    text-decoration: none;
    background-color: #ececec;
    outline: 0;
    font-weight: bold;
}
