@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$primary-color: #0094DE;
$secondary-color: #99181B;
$color-black: #000000;
$color-white: #ffffff;
$color-grey: #d7d7d7;
$facebook-color: #3B5998;
$twitter-color: #1DA1F2;
$instagram-color: #A6795A;
$google-plus-color: #DC4A38;
$youtube-color: #D32121;

body{
	overflow-x: hidden;
	font-size: 14px;
	font-family: "Open Sans", sans-serif;
	position: relative;
}
a{
	display: block;
	text-decoration: none;
	color: #666666;
	&:hover{
		text-decoration: none;
	}
}

.btn-primary{
	background: $primary-color;
	border-radius: 0;
	border: 0;
	padding: 5px 12px;
	&:hover{
		background: darken($primary-color,10%);
	}
}
.btn--readmore{
	background: $secondary-color;
	border-radius: 0;
	color: $color-white;
	margin-top: 25px;

	&:hover{
		color: $color-white;
		background: darken($secondary-color, 15%);
	}	
}

.l-header{
	.c-top{
		padding: 5px 0;
		background: #f0f0f0;
		.c-contact{
			margin: 12px 0;
			padding-left: 0;
			li{
				display: inline-block;
				margin-right: 15px;
			}
			a{
				display: inline;
			}
		}
		.c-lang__booking{
			margin: 5px 0;
		}
		.c-lang__language{
			margin: 8px 0;
			padding-left: 0;
			li{
				margin-left: 8px;
				display: inline-block;
			}
		}
		.top__social{
			margin: 0;
			padding-left: 0;
			.facebook{background: $facebook-color;}
			.twitter{background: $twitter-color;}
			.instagram{background: $instagram-color;}
			.google-plus{background: $google-plus-color;}
			.youtube{background: $youtube-color;}
			li{
				display: inline-block;
				padding: 8px 4px;
			}
			a{
				padding: 4px 8px;
				border-radius: 25px;
			}
			img{
				width: 12px;
			}
		}
	}
	.navbar-collapse.collapse{
		padding-right: 0;
	}
	.c-nav{
		padding: 5px 0;
		.c-nav__logo{
			a{
				display: inline-block;
			}
			img{
				width: 150px;
			}
		}
		.navbar{
			margin-top: 25px;
			margin-bottom: 0;
		}
		.nav{
			a{
				font-family: 'Roboto', sans-serif;
				padding: 5px 10px;
			}
		}
		.nav > li > a:hover, .nav > li > a:focus {
    		background-color: $primary-color;
    		color: $color-white;
		}
		li.active{
			a{
				color: $primary-color;
			}
		}
	}
}
.l-banner{
	position: relative;
	margin-bottom: 35px;
	.carousel-inner{
		max-height: 465px;
		height: 465px;
		overflow: hidden;
	}
	.carousel-caption{
		width: 100%;
		height: 465px;
		text-align: left;
		font-weight: 600;
		top: 0;
		left: 0;
		color: #fff;
		background: rgba(0,0,0,0.4);
		padding: 15px 25px;
		h2{
			font-family: 'Roboto', sans-serif;
			position: relative;
			top: 35%;
			width: 65%;
			color: #f9f9f9;
			text-shadow: 2px 2px #333;
			//background: rgba(0, 148, 222, 0.4);
			background: rgba(153, 24, 27, 0.4);
			padding: 15px;
			text-align: center;
		}
	}
	.c-booking{
			border: 2px solid #d7d7d7;
			padding: 11px 8px;
			h4{
				margin: 0;
			}
			a{
				padding: 12px 35px;
			}
		}
	.c-production__box{
		background: #d7d7d7;
		color: $color-white;
		padding: 4px;
		margin-bottom: 7px;

		a{
			padding: 14px 8px;
			color: $color-white;
		}
		a.even{
			background: $secondary-color;
			&:hover{
				background: darken($secondary-color, 10%);
			}
		}
		a.odd{
			background: $primary-color;
			&:hover{
				background: darken($primary-color, 10%);
			}	
		}
		h4{
			display: inline;
			position: relative;
			top: 2px;
			left: 8px;
			margin: 0;
			font-size: 14px;
		}
	}
}
.l-main{
	.c-heading{
		margin-bottom: 40px;
		h2{
			font-family: 'Raleway', sans-serif;
			color: #8A8282;
			font-weight: 600;
			margin-bottom: 4px;
		}
		span{
			color: #666666;

		}
	}
	.c-intro{
		margin-bottom: 70px;
		text-align: center;
		padding: 70px 0;
		background: #f0f0f0;
	}
	.c-update{
		margin-bottom: 70px;
		.c-update__module{
			max-height: 305px;
			overflow: hidden;
			border: 1px solid #d7d7d7;
		}
		.module__img{
			position: relative;
			img{
				width: 100%;
			}
		}
		.module__content{
			color: #ffffff;
			position: absolute;
			background: rgba(0,0,0,0.5);
			top: 0;
			width: 60%;
			padding: 15px 25px;
			right: 15px;
			h4{
				font-weight: 700;
			}
			p{
				margin: 15px 0 25px;
			}
			a{
				background: $color-white;
				border-radius: 0;
				&:hover{
					background: $primary-color;
					color: $color-white;
				}
			}
		}
		.schedule__box{
			border: 1px solid #d7d7d7;
			margin-bottom: 15px;
		}
		.schedule__box--info{
			padding-left: 15px;
			h4{
				font-weight: 600;
			}
			p{
				font-size: 13px;
			}
			a{
				display: inline-block;
			} 
			i{
				color: $secondary-color;
				font-size: 18px;
			}
		}
		.schedule__box--date{
			min-height: 90px;
			background: $primary-color;
			color: $color-white;
			text-align: center;
			span{
				position: relative;
				top: 35px;
				font-weight: 700;
			}
		}
	}
	.c-program{
		padding: 70px 0;
		background: #f0f0f0;
		.c-program__box{
			background: $color-white;
			padding: 15px;
			position: relative;
			top: 50px;
			min-height: 255px;
			margin-bottom: 70px;

			h3{
				color: #8A8282;
				margin-top: 45px;
				font-weight: 700;
			}
			p{
				color: #8A8282;
				margin-top: 25px;
			}
		}
		.c-program--logo{
			position: absolute;
			top: -45px;
			left: 52%;
			transform: translateX(-50px);
		}
	}
	.c-view{
		background: #252525;
		color: $color-white;
		padding: 70px 0;

		.video-desc{
			border-right: 1px solid #d7d7d7;
			h3{
				margin: 25px 0 35px;
			}
			p{
				font-size: 14px;
				color: #e5e5e5;
			}
			.btn--readmore{
				background: $color-white;
				color: #666666;
				&:hover{
					background: $primary-color;
					color: $color-white;
				}
			}
		}
		ul{
				margin-top: 25px;
			}
			li{
				display: block;
				margin-bottom: 15px;
				color: #e5e5e5;
				a{
					color: $color-white;
					display: inline-block;
					i{
						padding-left: 5px;
					}
				}
			}
	}
	.c-subscribe{
		background: #f0f0f0;
		padding: 35px 0;
		.newsletter{
			h2{
				color: #8A8282;
				font-weight: 700;
			}
			.form{
				margin-top: 25px;
				input,select,button{
					height: 45px;
				}
				button{
					background: $secondary-color;
					color: $color-white;
					border-radius: 0;
					&:hover{
						background: darken($secondary-color, 15%);
					}
				}
			}
		}
		.download{
			background: $color-white;
			padding: 8px 15px;
			border: 3px solid $primary-color;
			border-radius: 15px;
			h3{
				margin: 8px 0;
			}
			h3,span{
				color: #8A8282;
			}
			ul{
				margin-top: 15px;
				padding-left: 0;
				li{
					display: block;
					a{
						border-bottom: 1px solid #d7d7d7;
						padding: 8px 0;
					}
				}
				i{
					color: $secondary-color;
					font-weight: 700;
					padding-right: 5px;
				}
			}
		}
	}
}
.l-footer{
	.c-footer__top{
		color: $color-white;
		padding: 35px 0 25px;
		background: lighten($primary-color, 5%);
		ul{
			padding-left: 0;
		}
		li{
			display: block;
		}
		img{
			padding: 8px;
			border: 1px solid $color-white;
			margin-bottom: 15px;
			background: $secondary-color;
		}
		a{
			color: $color-white;
			&:hover{
				color: $secondary-color;
			}
		}
	}
	.social{
		padding-top: 35px;
		background: $primary-color;
	}
	.footer__social{
		margin: 0 auto;
		padding-left: 0;
		display: table;
		li{
			margin: 0 8px;
			display: inline-block;
		}
		a{
			padding: 8px;
			border: 1px solid $color-white;
		}
		.facebook:hover{background: $facebook-color;}
		.twitter:hover{background: $twitter-color;}
		.instagram:hover{background: $instagram-color;}
		.google-plus:hover{background: $google-plus-color;}
		.youtube:hover{background: $youtube-color;}
	}
	.c-footer__bottom{
		padding: 35px 0 10px;
		background: $primary-color;
		.logo{
			margin-bottom: 25px;
		}
		.footer__nav{
			border-bottom: 1px solid #d7d7d7;
			padding-bottom: 35px;
			li{
				display: inline-block;
				a{
					color: $color-white;
					padding: 8px;
					&:hover{
						color: $secondary-color;
					}
				}
			}
		}
		.copyright{
			padding-top: 10px;
			color: #363636;
			font-size: 14px;
			margin-bottom: 15px;
		}
	}
}
.l-question{
	position: fixed;
	left: 105px;
	bottom: 0;
	z-index: 1000;
	padding: 12px;
	background: $secondary-color;
	color: #fff;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	a{
		color: $color-white;
	}
}
.top{
		position: fixed;
		bottom: 0;
		right: 0;
		display: none;
		img{
			width: 50px;
		}
		}

		.booking-btn{
			border-radius: 0;
			background: #99181B;
			color: #fff;
			&:hover{
				background: darken($secondary-color, 10%);
			}
		}